*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
  color: var(--white-color);
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  color: var(--white-color);
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: var(--background-color);
}

html,
body {
  scroll-behavior: smooth;
  font-size: 100%;
  line-height: 1;
  -webkit-text-size-adjust: none;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

a,
label {
  -webkit-tap-highlight-color: transparent;
}

body.no-scroll {
  overflow: hidden;
}

.button-filled {
  background: #fe502d;
  border-radius: 100px;
  padding: 19px 28px;
  font-weight: 600;
  color: #fff;
  transition: all 0.4s;

  &.button-exit {
    background-image: url('./assets/Home/exit-icon.svg');
    background-repeat: no-repeat;
    background-position: 84px center;
  }

  &.active-not {
    background: #ff704d;
    pointer-events: none;
    text-decoration: none;
  }

  &.active-not-learning{
    background-color: #ffb7a6;
    pointer-events: none;
    text-decoration: none;
  }

  &:hover {
    background-color: #ff704d;
  }
}
